label-studio==1.9.2.post0
label-studio-converter==0.0.57
label-studio-tools==0.0.3
ultralytics
jupyter
matplotlib==3.8.2
numpy==1.24.3
opencv-python==4.8.1.78
pandas==2.1.3
Pillow==10.1.0
scipy==1.11.4
torch==2.1.1
tqdm==4.66.1
transformers @ git+https://github.com/huggingface/transformers.git@35551f9a0f66a22de4971b4a51b3c172d3b87f95
